.mainContainer .arrowQuiz{
    position: absolute;
    width: 53px;
    height: 53px;
    bottom: 15px;
    border: 6px solid rgb(255,255,255,0.6);
    box-sizing: border-box;
    background-color: #349398;
    border-radius: 50%;
}
.mainContainer .arrowQuiz.prevQuiz{
    left: 39px;
}
.mainContainer .arrowQuiz.nextQuiz{
    right: 39px;
}
.mainContainer .arrowQuiz .imgArrow{
    position: absolute;
    width: 17px;
    height: 28px;
    left: -5px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: url(../../img/arrow.png) no-repeat center center;
    background-size: contain;
}
.mainContainer .arrowQuiz.prevQuiz{
    display: none;
}
.mainContainer .arrowQuiz.nextQuiz .imgArrow{
    left: 5px;
    transform: rotate(180deg);
}