.selectQuiz{
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 140px;
    bottom: 0px;
    padding: 10px;
    display: flex;
    z-index: 1;
}
.selectQuiz.active{
    bottom: -140px;
}
.selectQuiz .newQuizButton{
    position: absolute;
    top: -40px;
    background-color: rgba(0,0,0,.5);
    right: 10px;
    width: 170px;
    height: 40px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
    display: flex;
    justify-content: center;
    /* font-size: 23px; */
    align-items: center;
}
.selectQuiz .contentNewQuiz{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: auto;
    display: flex;
}
.selectQuiz .contentNewQuiz .quizz{
    width: 216px;
    min-width: 216px;
    height: 100%;
    background: rgba(0,0,0,.5);
    border-radius: 6px;
    margin: 0 10px;
    color: white;
    position: relative;
    overflow: hidden;
}
.selectQuiz .contentNewQuiz .quizz img{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    border: solid 3px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.selectQuiz .contentNewQuiz .quizz .quizName{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-size: 15px;
}
.opciones, .respuestas{
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    border-top: 2px solid #d8d8d8;
}
.opcion{
    width: 100%;
    display: flex;
}
/* .respuestas{
    width: 100%;
} */
#save-quiz,
#edit-quiz{
    margin-top: 50px;
    margin-bottom: 100px;
}
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1061;
}
.spinner-border.text-warning {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.card-header .numerador {
    position: absolute;
    top: -4px;
    right: 10px;
    background-color: #6c757d;
    width: 30px;
    height: 45px;
    padding-top: 5px;
    font-size: 20px;
    display: flex;
    color: #f7f7f7;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 0 15px;
}
.loading h6.msg-cargando {
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 30px;
}
/* Boostrap modifys */
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-header.bg-secondary small code{
    color: white;
}
.card-title {
    margin-bottom: 0;
}
.quizz input.form-control.border-success {
    border-width: 3px;
    box-sizing: border-box;
}