body, html{
	position: absolute;
	width: 100%;
	height: 100%;
	/* width: 962px;
	height: 570px; */
	left: 0;
	top: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff4ee;
	margin: 0;
	overflow: hidden !important;
	/* background: url(../../img/bg09.jpg) no-repeat center center; */
	background-size: 100% 100%;
}
@font-face{
	font-family: 'Font-Regular';
	src: url(../../font/Muli-Regular.ttf);
}
@font-face{
	font-family: 'Font-Bold';
	src: url(../../font/Muli-Bold.ttf);
}
.mainContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.manchaFondo{
    position: absolute;
    width: 769px;
    height: 574px;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
    background: url(../../img/mancha.png) no-repeat center center;
    background-size: contain;
}
/******************************************************** INICIO ESTILOS PARA EL CONTENIDO DEL QUIZ ********************************************************/
.mainContainer .containerQuiz{
    position: relative;
    width: 100%;
    height: 85%;
    left: 0;
    top: 0px;
    margin-top: 5px;
}
.mainContainer .containerQuiz .quiz{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContainer .containerQuiz .quiz[data-quiz="1"]{
    left: 0%;
}
.mainContainer .containerQuiz .quiz .containerInstruction{
    width: 557px;
    min-height: 40px;
    max-height: 50px;
    font-family: 'Font-Bold';
    color: #686968;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    box-sizing: border-box;
    text-align: center;
}
/**************** INICIO ESTILOS PARA QUIZ PREGUNTA ABIERTA Y PREGUNTA IMAGEN ****************/
.mainContainer .containerQuiz .quiz.preguntaImagen .containerExercise{
    width: 97%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #48c2cd;
    border-radius: 75px 75px 65px 65px;
    background-color: #f7ede7;
    box-sizing: border-box;
}
.mainContainer .containerQuiz .quiz.preguntaImagen .containerQuestion{
    width: 80%;
    min-height: 35px;
    max-height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Font-Regular';
    font-size: 20px;
    color: #686968;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 15px;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 1.2;
    overflow: auto;
}
.mainContainer .containerQuiz .quiz .containerImg{
    width: 550px;
    height: 337px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    overflow: hidden;
}
.mainContainer .containerQuiz .quiz .containerImg img{
    width: 100%;
    height: 100%;
}
.mainContainer .containerQuiz .quiz .containerAnswer{
    width: 465px;
    height: 40px;
}
.mainContainer .containerQuiz .quiz .containerAnswer .inputAnswer {
    width: 100%;
    height: 100%;
    font-family: 'Font-Regular';
    color: #686968;
    font-size: 15px;
    padding: 0 15px;
    border-radius: 50px;
    box-sizing: border-box;
}
/**************** FIN ESTILOS PARA QUIZ PREGUNTA ABIERTA Y PREGUNTA IMAGEN ****************/
/**************** INICIO ESTILOS PARA QUIZ RELACIONAL ****************/
.mainContainer .containerQuiz .quiz.relacional .containerExercise{
    width: 750px;
    max-height: 450px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions:last-child{
    margin-bottom: 0px;
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption{
    width: 370px;
    min-height: 65px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption.select,
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption.validado{
    background-color: rgb(255 255 255 / 90%);
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption .containerNumber{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    font-family: 'Font-Bold';
    font-size: 20px;
    color: rgb(96 97 97 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8dfda;
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption .containerNumber .number{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    line-height: 1.6;
    background-color: #fef5ee;
    color: rgb(96 97 97 / 30%);
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption.answer .containerNumber .number{
    display: none;
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption.select .containerNumber .number,
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption.validado .containerNumber .number{
    display: flex;
    color: #ffffff;
    background-color: #48c2cd;
}
.mainContainer .containerQuiz .quiz.relacional .containerExercise .cotainerOptions .cotainerOption .containerText{
    width: 315px;
    display: flex;
    align-items: center;
    font-family: 'Font-Regular';
    font-size: 15px;
    color: #989491;
    line-height: 1.2;
    padding: 5px 20px 5px 5px;
    box-sizing: border-box;
    /* background: pink; */
}
/**************** FIN ESTILOS PARA QUIZ RELACIONAL ****************/
/**************** INICIO ESTILOS PARA QUIZ MATEMATICAS ****************/
.mainContainer .containerQuiz .quiz.matematicas .containerQuestion{
    width: 490px;
    min-height: 285px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Font-Bold';
    font-size: 30px;
    color: #ffffff;
    border-radius: 20px;
    background-color: #9acb5e;
}
.mainContainer .containerQuiz .quiz.matematicas .containerAnswer{
    width: 680px;
    height: 65px;
    border: 1px solid #d3e9e9;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #fffefc;
}
/**************** FIN ESTILOS PARA QUIZ MATEMATICAS ****************/
/**************** INICIO ESTILOS PARA QUIZ TRUE FALSE ****************/
.mainContainer .containerQuiz .quiz.trueFalse .containerExercise{
    width: 905px;
    height: 288px;
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainContainer .containerQuiz .quiz.trueFalse .containerQuestion{
    width: 590px;
    /* height: 430px; */
    height: 485px;
}
.mainContainer .containerQuiz .quiz.trueFalse.notImagen .containerQuestion{
    position: absolute;
    width: 817px;
    height: 288px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 137px 137px 106px 106px;
    background-color: #f0e7e1;
}
.mainContainer .containerQuiz .quiz.trueFalse .containerQuestion .containerImg{
    width: 100%;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border: 1px solid #48c2cd;
    box-sizing: border-box;
}
.mainContainer .containerQuiz .quiz.trueFalse.notImagen .containerQuestion .containerImg{
    display: none;
}
.mainContainer .containerQuiz .quiz.trueFalse .containerQuestion .containerImg .imgQuestion{
    width: 570px;
    height: 335px;
    border-radius: 15px;
    overflow: hidden;
}
.mainContainer .containerQuiz .quiz.trueFalse .containerQuestion .containerImg .imgQuestion img{
    width: 100%;
    height: 100%;
}
.mainContainer .containerQuiz .quiz.trueFalse .containerQuestion .question{
    width: 100%;
    min-height: 50px;
    /* max-height: 75px; */
    max-height: 120px;
    margin-top: 10px;
    font-family: 'Font-Regular';
    font-size: 20px;
    color: #686968;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    text-align: center;
    padding: 0px 15px;
    box-sizing: border-box;
}
.mainContainer .containerQuiz .quiz.trueFalse.notImagen .containerQuestion .question{
    width: 600px;
    min-height: 266px;
    border-radius: 113px 113px 87px 87px;
    margin-top: 0px;
    background-color: rgb(255 255 255 / 80%);
}
.mainContainer .containerQuiz .quiz.trueFalse .containerExercise .containerAnswer{
    width: 124px;
    height: 124px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(240 231 225);
    z-index: 2;
}
.mainContainer .containerQuiz .quiz.trueFalse .containerExercise .containerAnswer .botonAnswer{
    width: 108px;
    height: 108px;
    font-family: 'Font-Regular';
    font-size: 15px;
    color: #ffffff;
    line-height: 1.2;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: #b1bca0;
}
.mainContainer .containerQuiz .quiz.trueFalse .containerExercise .containerAnswer .botonAnswer.select{
    background-color: #7fa845;
}
/**************** FIN ESTILOS PARA QUIZ TRUE FALSE ****************/
/**************** INICIO ESTILOS PARA QUIZ OPCION MULTIPLE ****************/
.mainContainer .containerQuiz .quiz.opcionMultiple{
    height: 90%;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise{
    width: 835px;
    max-height: 455px;
    margin-top: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise{
    border: 2px solid #70ccd2;
    background-color: #f7ece6;
}
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise{
    width: 645px;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerQuestion{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0px 20px;
    box-sizing: border-box;
	font-family: 'Font-Regular';
    font-size: 20px;
    color: #686968;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    font-family: 'Font-Regular';
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerElements{
    width: 100%;
    max-height: 364px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise .containerElements{
    justify-content: center;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerElements .containerImg{
    width: 498px;
    height: 288px;
    border: 2px solid #70ccd2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#efe6df;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerElements .containerImg .imagen{
    width: 100%;
    height: 100%;
    /* width: 478px;
    height: 268px; */
    border-radius: 15px;
}
/* .mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerElements .containerImg .imagen{
    width: 100%;
    height: 100%;
} */
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise .containerElements .containerImg{
    display: none;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerAnswers{
    width: 323px;
    max-height: 364px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise .containerAnswers{
    border: 2px solid #f8efe8;
    background-color: #f2e9e4;
}
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise .containerAnswers{
    width: 580px;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerAnswers .containerAnswer{
    width: 323px;
    height: 50px;
    min-height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise .containerAnswers .containerAnswer{
    width: 540px;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerAnswers .containerAnswer:first-child{
    margin-top: 10px;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerAnswers .containerAnswer .containerRadius{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3dcd6;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerAnswers .containerAnswer .containerRadius .radius{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #fff4ee;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerAnswers .containerAnswer .containerRadius.select .radius{
    background-color: #7fa845;
}
.mainContainer .containerQuiz .quiz.opcionMultiple .containerExercise .containerAnswers .containerAnswer .containerText{
    width: 278px;
    height: 100%;
    color: #8a8886;
    font-family: 'Font-Regular';
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 1.2;
}
.mainContainer .containerQuiz .quiz.opcionMultiple.notImagen .containerExercise .containerAnswers .containerAnswer .containerText{
    width: 495px;
}
/**************** FIN ESTILOS PARA QUIZ OPCION MULTIPLE ****************/

/**************** INICIO ESTILOS PARA QUIZ DRAG ****************/
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise{
    width: 100%;
    height: 274px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra.notImagen .elementsExercise{
    height: 70px;
    margin-bottom: 20px;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise .containerElements{
    width: 729px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise .containerElements .containerImg{
    width: 390px;
    height: 231px;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra.notImagen .elementsExercise .containerElements .containerImg{
    display: none;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise .containerElements .containerImg img{
    width: 100%;
    height: 100%;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise .containerElements .containerDrags{
    position: relative;
    width: 318px;
    height: 274px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra.notImagen .elementsExercise .containerElements .containerDrags{
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-content: space-between;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise .containerElements .containerDrags .containerDrag{
    position: relative;
    width: 154px;
    height: 29px;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise .containerElements .containerDrags .containerDrag .drag{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Font-Regular';
    font-size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #666666;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .elementsExercise .containerElements .containerDrags .containerDrag .drag.validado{
    display: none;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise{
    width: 100%;
    min-height: 43px;
    max-height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra.notImagen .containerExercise{
    max-height: 380px;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise{
    width: 760px;
    min-height: 43px;
    display: flex;
    align-items: center;
    padding: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 60%);
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise:last-child{
    margin-bottom: 0px;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise .containerNumber{
    width: 37px;
    height: 37px;
    margin-left: 6px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(96 97 97 / 10%);
    border-radius: 50%;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise .containerNumber .number{
    width: 26px;
    height: 26px;
    font-family: 'Font-Regular';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 22px;
    background-color: #48c2cd;
    border-radius: 50%;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise .textExercise{
    width: 700px;
    font-family: 'Font-Regular';
    font-size: 16px;
    color: #606161;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise .textExercise .containerTarget{
    width: 154px;
    height: 29px;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    border: 1px dashed gray;
    box-sizing: border-box;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise .textExercise .containerTarget.validado{
    background-color: rgb(171 191 0 / 20%);
    border: none;
}
.mainContainer .containerQuiz .quiz.ArrastrarPalabra .containerExercise .exercise .textExercise .containerTarget .drop-target{
    width: 20%;
    height: 20%;
}
/**************** FIN ESTILOS PARA QUIZ DRAG ****************/
/**************** INICIO ESTILOS PARA QUIZ SELECCION ****************/
.mainContainer .containerQuiz .quiz.SeleccionPalabra{
    /* background-color: yellow; */
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise{
    width: 100%;
    height: 235px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra.notImagen.notInstruction .elementsExercise{
    display: none;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise .containerElements{
    width: 870px;
    min-height: 230px;
    max-height: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra.notImagen .elementsExercise .containerElements,
.mainContainer .containerQuiz .quiz.SeleccionPalabra.notInstruction .elementsExercise .containerElements{
    justify-content: center;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise .containerElements.notText{
    justify-content: center;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise .containerElements .containerImg{
    width: 390px;
    height: 230px;
    background-color: blue;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra.notImagen .containerElements .containerImg{
    display: none;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise .containerElements .containerImg img{
    width: 100%;
    height: 100%;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise .containerElements .containerText{
    width: 450px;
    height: 220px;
    font-family: 'Font-Regular';
    font-size: 16px;
    color: #4c4c4c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow-y: auto;
} 
.mainContainer .containerQuiz .quiz.SeleccionPalabra.notInstruction .elementsExercise .containerElements .containerText{
    display: none;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise .containerElements.notText .containerText{
    display: none;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .elementsExercise .containerElements .containerText p{
    width: 100%;
    height: 100%;
    margin: 0;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise{
    width: 765px;
    min-height: 73px;
    max-height: 219px;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise{
    width: 100%;
    min-height: 73px;
    max-height: 219px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(96 97 97 / 5%);
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise:last-child{
    margin-bottom: 0px;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .containerNumber{
    width: 37px;
    height: 37px;
    margin-left: 6px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(96 97 97 / 10%);
    border-radius: 50%;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .containerNumber .number{
    width: 26px;
    height: 26px;
    font-family: 'Font-Regular';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 22px;
    background-color: #48c2cd;
    border-radius: 50%;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .textExercise{
    width: 700px;
    font-family: 'Font-Regular';
    font-size: 16px;
    color: #606161;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .textExercise .containerSelect{
    width: 155px;
    height: 28px;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    background-color:rgb(96 97 97 / 10%);
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .textExercise .containerSelect:focus-visible{
    background-color: red;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .textExercise .containerSelect select{
    width: 130px;
    height: 100%;
    font-family: 'Font-Regular';
    font-size: 16px;
    color:#606060;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    appearance: none;
    outline: none;
    text-align: center;
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .textExercise .containerSelect::after {
    content: "";
    width: 9px;
    height: 7px;
    background-color: #777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.mainContainer .containerQuiz .quiz.SeleccionPalabra .containerExercise .exercise .textExercise .containerSelect select option{
    width: 100%;
    height: 100%;
}
/**************** FIN ESTILOS PARA QUIZ SELECCION ****************/



/**************** INICIO ESTILOS PARA QUIZ CALIFICACION ****************/
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion{
    width: 380px;
    height: 330px;
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .tituloCalificacion{   
    height: 45px;
    font-family: 'Font-Bold';
    font-size: 35px;
    color: #666667;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .contenedorTiempo{
    height: 75px;
    margin-top: 5px;
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .contenedorTiempo .contenedorIcono{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .contenedorTiempo .contenedorIcono .iconoTiempo{
    width: 45px;
    height: 45px;
    background: url(../../img/barra/iconTime.png) no-repeat center center;
    background-size: contain;
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .contenedorTiempo .tiempoCalificacion{
    height: 30px;
    font-family: 'Font-Bold';
    font-size: 20px;
    color: #83817f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .mensajeCalificacion{
    height: 100px;
    margin-top: 15px;
    font-family: 'Font-Regular';
    font-size: 25px;
    color: #959290;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.1;
    /* background-color: pink; */
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .mensajeCalificacion span{
    display: contents;
    font-size: 30px;
    color: #6c6c6a;
    line-height: 1.6;
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .contenedorBoton{
    height: 45px;
    margin-top: 21px;
    border: 2px solid #d0e8e6;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: purple; */
}
.mainContainer .containerQuiz .quiz.calificacion .contenedorCalificacion .contenedorBoton .btn{
    width: 360px;
    height: 33px;
    font-family: 'Font-Bold';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50px;
    background-color: #7bb443;
    margin: 5px;
    cursor: pointer;
}
/**************** FIN ESTILOS PARA QUIZ CALIFICACION ****************/


/******************************************************** FIN ESTILOS PARA EL CONTENIDO DEL QUIZ ********************************************************/
