.mainContainer .containerBars{
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
}
.mainContainer .containerBars .containerBar{
    position: absolute;
    width: 97%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}
.mainContainer .containerBars .containerBar .dataBar{
    position: absolute;
    width: 99%;
    height: 42px;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    border: 5px solid rgb(255,255,255,0.6);
    border-radius: 50px;
    background-color: #48c2cd;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar{
    position: relative;
    float: left;
    width: 9%;
    height: 100%;
    left: 0;
    top: 0;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.nomenclatureQuiz{
    font-family: 'Font-Regular';
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    box-sizing: border-box;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.nomenclatureQuiz::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 70%;
    right: 0;
    background-color: #ffffff;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.titleQuiz{
    width: 62%;
    font-family: 'Font-Regular';
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 10px;
    box-sizing: border-box;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz{
    width: 29%;
    background-color: #40b0b6;
    border-radius: 50px;
    overflow: hidden;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .progressBar{
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(90 70 183 / 50%);
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics{
    position: absolute;
    width: 216px;
    height: 26px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerCount{
    position: absolute;
    width: 65px;
    height: 100%;
    left: 0;
    top: 0;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerCount .iconCount{
    position: absolute;
    width: 23px;
    height: 26px;
    left: 0;
    top: 0;
    background: url(../../img/barra/iconCount.png) no-repeat center center;
    background-size: contain;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerCount .textCount{
    position: absolute;
    width: 37px;
    height: 100%;
    right: 0;
    top: 0;
    font-family: 'Font-Regular';
    font-size: 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerTime{
    position: absolute;
    width: 136px;
    height: 100%;
    right: 0px;
    top: 0px;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerTime .iconTime{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    top: 0;
    background: url(../../img/barra/iconTime.png) no-repeat center center;
    background-size: contain;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerTime .textTime{
    position: absolute;
    width: 105px;
    height: 100%;
    right: 0;
    top: 0;
    font-family: 'Font-Regular';
    font-size: 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerTime .textTime .elementeTime{
    position: relative;
    float: left;
    width: auto;
    height: 100%;
    left: 0;
    top: 0;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerTime .textTime .elementeTime.time{
    margin-right: 3px;
}
.mainContainer .containerBars .containerBar .dataBar .elementBar.statisticsQuiz .containerStatistics .containerTime .textTime .elementeTime .tiempo{
    float: left;
}
.mainContainer .containerBars .containerBar .backgroundBar{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 40%);
}