<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="cache-control"
          content="no-cache" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/css/bootstrap.css">
    <link rel="stylesheet"
          type="text/css"
          href="/css/estilosRelacionarColumnasBoton.css">
    <link rel="stylesheet"
          type="text/css"
          href="/css/style.css">
    <link rel="stylesheet"
          href="/mobileD/release/default.css">
    <link rel="stylesheet"
          href="/mobileD/release/icons.css">
    <link rel="stylesheet"
          href="/mobileD/release/debug.css">
    <script src="/mobileD/release/index.min.js"></script>
    <script src="/mobileD/release/scroll-behaviour.min.js"></script>
    <script src="/mobileD/demo/demo.js"></script>
    <script type="text/javascript"
            src="/js/relacionarColumnasBoton.js"></script>
    <title>Hacer Examen</title>

  <body style="background-color: skyblue"
        margin="5px">
    <div class="container text-center">
      <h1 class="display-4">
        <%= quizz.nombreQuizz
            %>
      </h1>
    </div>
    <br>
    <form action="/alumnos/correccion"
          method="POST"
          id=quizz>
      <input type="hidden"
             name="quizz"
             value="<%= quizz._id %>">
      <% for(var
         i=0;
         i<quizz.cuestionario.length
         ;
         i++)
         {%>
        <% switch
           (quizz.cuestionario[i].tipo)
           {
           case "tipoT"
           :
           %>
          <div class="container-fluid ">
            <div class="row justify-content-center">
              <div class="container col-md-10">
                <div class="container col-md-10 text-center bg-light rounded-0">
                  <h4 class="display-7">
                    <%= quizz.cuestionario[i].pregunta
                        %>
                  </h4>
                  <div class="container col-md-10 pb-3">
                    <input type="text"
                           class="form-control pb-3"
                           placeholder="Respuesta"
                           aria-label="Respuesta"
                           name="respuesta<%= i %>">
                    <input type="hidden"
                           name="cuestionario<%= i %>"
                           value="<%= quizz.cuestionario[i]._id %>">
                    <% break;
                       case "tipoR"
                       :
                       %>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-10 ">
                <div class="container col-md-10 text-center bg-light rounded-0">
                  <h4 class="display-7">Relaciona los items</h4>
                  <div class="container bg-light rounded-0">
                    <table class="tablaEjercicio"
                           id="items<%= i %>">
                      <% for
                         (var
                         j=0;
                         j<quizz.cuestionario[i].pregunta.length;
                         j++)
                         {%>
                        <tr>

                          <td class="botonPregunta reactivo"><button type="button">
                              <%= j+1%>
                            </button></td>
                          <td id="<%=i%>,<%=j%>">
                            <%= quizz.cuestionario[i].pregunta[j]%>
                          </td>
                          <td class="botonRespuesta"><button type="button"></button></td>
                          <td class="celdaRespuesta">
                            <div>
                              <input class="apartadoBD"
                                     type="hidden"
                                     name="r<%=i%>,<%=j%>">
                              <%= quizz.cuestionario[i].respuesta[j]%>

                            </div>

                          </td>
                        </tr>
                        <% }
                           %>
                    </table>
                    <input type="hidden"
                           class="contadorItems"
                           value="<%= i %>"
                           name="contadorItems<%= i %>">

                    <div class="container-fluid col-md-10 text-center bg-light rounded-0">
                      <input type="hidden"
                             name="cuestionario<%= i %>"
                             value="<%= quizz.cuestionario[i]._id %>">

                      <% break;
                         case "tipoOM"
                         :
                         %>
                        <% <!--
                           solo
                           una
                           respuesta
                           posible-->
                          if (quizz.cuestionario[i].respuesta.length<=1) {
                               %>

                            <div id="main">
                              <h4 align="center">
                                <%= quizz.cuestionario[i].pregunta[0]%>
                              </h4>
                              <% for
                                 (var
                                 j=1;
                                 j<quizz.cuestionario[i].pregunta.length;
                                 j++)
                                 {%>

                                <div class="form-check">
                                  <input class="form-check-input"
                                         type="radio"
                                         name="respuesta<%= i %>"
                                         value=" <%= quizz.cuestionario[i].pregunta[j]%>"
                                         id="flexRadioDefault1">
                                  <label class="form-check-label"
                                         for="pregunta">
                                    <%= quizz.cuestionario[i].pregunta[j]%>
                                  </label>
                                </div>

                                <% }
                                   %>


                                  <% }
                                     <!--
                                     Multiples
                                     Respuestas-->
                                    else { %>
                                    <h4 align="center">
                                      <%= quizz.cuestionario[i].pregunta[0]
                                          %>
                                    </h4>

                                    <div id="items<%= i %>">
                                      <% for
                                         (var
                                         j=1;
                                         j<quizz.cuestionario[i].pregunta.length;
                                         j++)
                                         {%>
                                        <input class="reactivo"
                                               type="checkbox"
                                               name="respuesta<%= i %>,<%= j %>"
                                               value="<%= quizz.cuestionario[i].pregunta[j] %>">
                                        <label for="pregunta">
                                          <%= quizz.cuestionario[i].pregunta[j]
                                              %>
                                        </label><br>
                                        <br>
                                        <% }
                                           %>
                                    </div>
                                    <input type="hidden"
                                           class="contadorItems"
                                           value="<%= i %>"
                                           name="contadorItems<%= i %>">
                                    <input type="hidden"
                                           name="respuesta<%= i %>"
                                           value="multiple">
                                    <% }
                                       %>

                            </div>
                            <input type="hidden"
                                   name="cuestionario<%= i %>"
                                   value="<%= quizz.cuestionario[i]._id %>">
                            <% break;
                               case "tipoIT"
                               :
                               %>
                              <!--
                      <h4 align="center"><%= quizz.cuestionario[i].pregunta[1] %></h4>
                        <div class="grid-contenedor" id="main">
                        
                        <div>
                           <img src="/image/<%= quizz.cuestionario[i].pregunta[0] %>" alt="perrito de la victoria" >
                        </div>
                        <div>
                        <input type="text" class="form-control" placeholder="Respuesta" aria-label="Respuesta" name="respuesta1">
                        </div>
                        <div></div>
                        </div>
                      -->
                              <!--pregunta IT-->
                              <div class="d-flex justify-content-center">
                                <div class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">
                                  <div class="card-body border border-1">
                                    <div class="row">
                                      <div class=" col-lg-6 col-sm-12">
                                        <h4 class="display-7">
                                          <%= quizz.cuestionario[i].pregunta[1]
                                              %>
                                        </h4>
                                        <input type="text"
                                               class="form-control-lg  mb-5"
                                               placeholder="Respuesta"
                                               aria-label="Respuesta"
                                               name="respuesta<%= i %>">

                                      </div>
                                      <div class=" col-lg-6 col-sm-12">
                                        <div class="col-lg-10  col-sm-12 text-center">
                                          <img src="/image/<%= quizz.cuestionario[i].pregunta[0] %>"
                                               class="card-img-top img-fluid"
                                               alt="Imagen del Quizz">
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--pregunta IT-->
                              <input type="hidden"
                                     name="cuestionario<%= i %>"
                                     value="<%= quizz.cuestionario[i]._id %>">

                              <% break;
                                 case "tipoM"
                                 :
                                 %>
                                <div id="main">
                                  <h4 align="center">Resuelve la siguiente expresión</h4>
                                  <div class="container">
                                    <div class="row justify-content-center"
                                         style="background-color:lightblue">
                                      <p class="mate">
                                        <%= quizz.cuestionario[i].pregunta[0]
                                            %>
                                          <p></p>

                                          <input class="tipoMate"
                                                 id="<%= i %>"
                                                 type="hidden">
                                    </div>
                                  </div>
                                </div>

                                <input type="hidden"
                                       name="cuestionario<%= i %>"
                                       value="<%= quizz.cuestionario[i]._id %>">
                                <% break;
                                   case "tipoAr"
                                   :
                                   %>


                                  <div class="contanier-fluid "
                                       id="main">

                                    <h4 align="center">Activado</h4>
                                    <div class="row">
                                      <div class="col-lg-6 sm-12  text-center">
                                        <div class="col-lg-12 ">
                                          <img class="img-fluid"
                                               src="/image/<%= quizz.cuestionario[i].pregunta[0] %>"
                                               alt="perrito de la victoria">
                                          <% for
                                             (var
                                             j=1;
                                             j<(quizz.cuestionario[i].pregunta.length);
                                             j++)
                                             {%>
                                            <div class="reactivoDrop"
                                                 ondrop="drop(event,this)">
                                              <p>Item <%= j
                                                    %>
                                              </p>
                                              <input type="hidden"
                                                     class="respuestaDrag"
                                                     name="respuestaN">
                                            </div>
                                            <% }
                                               %>
                                        </div>

                                      </div>

                                      <div class="col-lg-6 sm-12 text-center">
                                        <div class="row bg-info">
                                          <div class="col retornable">
                                            <% for
                                               (var
                                               j=1;
                                               j<(quizz.cuestionario[i].pregunta.length);
                                               j++)
                                               {%>
                                              <div class="arrastrable">
                                                <p>
                                                  <%= quizz.cuestionario[i].pregunta[j]
                                                      %>
                                                </p>
                                              </div>
                                              <% }
                                                 %>

                                          </div>
                                          <div class="col">
                                            <p class="display-7">Item Der</p>
                                            <p class="display-7">Item Der</p>
                                            <p class="display-7">Item Der</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>



                                  </div>
                    </div>


                  </div>

                  <% break;
                     }
                     %>
                    <% }
                       %>



                      <button onclick="enviarQuizz()"
                              class="btn btn-outline-primary Enviar"
                              value="Enviar Respuestas">Enviar respuestas</button>
    </form>

    <a href="/alumnos/respuestas">Enviar respuestas</a>
    <script src="/mobileD/mobile.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/creadorQuizzes.js"
            type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
    <script src="/js/funcionesExamen.js"
            type="text/javascript"></script>
  </body>

</html>