<div class="containerBars">
    <div class="containerBar">
        <div class="dataBar">
            <div class="elementBar nomenclatureQuiz"><%- materia.tipo %></div>
            <div class="elementBar titleQuiz"></div>
            <div class="elementBar statisticsQuiz">
                <div class="progressBar"></div>
                <div class="containerStatistics">
                    <div class="containerCount">
                        <div class="iconCount"></div>
                        <div class="textCount"></div>
                    </div>
                    <div class="containerTime">
                        <div class="iconTime"></div>
                        <div class="textTime">
                            <div class="elementeTime time">Time: </div>
                            <div class="elementeTime temporizador">
                                <span class="tiempo horas"></span>
                                <span class="tiempo minutos"></span>
                                <span class="tiempo segundos"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="progressBar">
        <div class="progress"></div>
    </div> -->
</div>