<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebee - Crear quiz</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/quiz/new_quiz.css">
    <!-- DropZone.JS Upload files -->
    <link rel="stylesheet" href="/css/dropify.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="loading text-center">
        <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
        <h6 class="msg-cargando">Cargando</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="quizContainer col-12">
                <div class="card">
                    <div class="card-header bg-secondary">
                        <h4 class="card-title">Crea un nuevo exámen</h4>
                        <small>Formulario para <code>crear nuevo quiz</code></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-6 col-md-4">
                                <label>Nivel</label>
                                <select class="form-control" id="nivel" name="nivel">
                                    <option value=""></option>
                                </select>
                                <small>Selecciona un nivel</small>
                            </div>
                            <div class="form-group col-6 col-md-4">
                                <label>Grado</label>
                                <select class="form-control" id="grado" name="grado" disabled></select>
                                <small>Selecciona un grado</small>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label>Materia</label>
                                <select class="form-control" id="materia" name="materia" disabled></select>
                                <small>Selecciona una materia</small>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label>Bloque</label>
                                <select class="form-control" id="bloque" name="bloque" disabled></select>
                                <small>Selecciona un bloque</small>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label>Secuanecia</label>
                                <select class="form-control" id="secuencia" name="secuencia" disabled></select>
                                <small>Selecciona una secuencia</small>
                            </div>
                            <hr>
                            <div class="form-group col-8">
                                <label>Nombre del quiz:</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Escribe aquí">
                                <small>Escribe el nombre del nuevo quiz</small>
                            </div>
                            <div class="form-group col-4 ">
                                <label>Intentos:</label>
                                <input type="number" class="form-control" id="intentos" value="1" min="1">
                                <small>Intentos permitidos</small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer text-muted">by alanisca</div> -->
                </div>
            </div>
            <button type="button" class="btn btn-success col-12" id="save-quiz">Crear quizz</button>
            <button type="button" class="btn btn-success col-12" id="edit-quiz">Guardar cambios</button>
        </div>
    </div>
    <div class="selectQuiz active">
        <div class="newQuizButton">Agregar QUIZ</div>
        <div class="contentNewQuiz">
            <div class="quizz" id="pregunta-abierta">
                <img src="/img/quiz/img_PreguntaAbierta.jpg" alt="">
                <div class="quizName" id="tipoT">Pregunta abierta</div>
            </div>
            <div class="quizz" id="pregunta-relacional">
                <img src="/img/quiz/img_PreguntaRelacional.jpg" alt="">
                <div class="quizName" id="tipoR">Pregunta relacional</div>
            </div>
            <div class="quizz" id="pregunta-truefalse">
                <img src="/img/quiz/img_PreguntaTF.jpg" alt="">
                <div class="quizName" id="tipoOM">Verdadero o Falso</div>
            </div>
            <div class="quizz" id="pregunta-omultiple">
                <img src="/img/quiz/img_PreguntaOM.jpg" alt="">
                <div class="quizName" id="tipoOM">Opcion multiple</div>
            </div>
            <div class="quizz" id="pregunta-arrastrarP">
                <img src="/img/quiz/img_PreguntaArrastrar.jpg" alt="">
                <div class="quizName" id="tipoOM">Arrastras palabras</div>
            </div>
            <div class="quizz" id="pregunta-seleccionar">
                <img src="/img/quiz/img_PreguntaSelect.jpg" alt="">
                <div class="quizName" id="tipoOM">Seleccionar respuesta</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.redirect.js"></script>
    <script type="text/javascript" src="/js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/js/dropify.min.js"></script>

    <script type="text/javascript" src="/js/quiz/forms/pregunta-abierta.js"></script>
    <script type="text/javascript" src="/js/quiz/forms/pregunta-relacional.js"></script>
    <script type="text/javascript" src="/js/quiz/forms/pregunta-omultiple.js"></script>
    <script type="text/javascript" src="/js/quiz/forms/pregunta-arrastrarP.js"></script>
    <script type="text/javascript" src="/js/quiz/forms/pregunta-select.js"></script>

    <script type="text/javascript" src="/js/quiz/new_quiz.js"></script>
    <script type="text/javascript" src="/js/quiz/edit_quiz.js"></script>
    <script type="text/javascript" src="/js/quiz/saveQuiz.js"></script>
    <script>
        var quizType ="<%- quiz.tipo %>";
        var quizID = "";
        if(quizType == 'edit'){
            $('#save-quiz').remove();
            quizID ="<%- quiz.idQuizz %>";
            getQuiz(quizID);
        }
        else{
            $('#edit-quiz').remove();
            $('.loading').fadeOut(1000);
        }
    </script>
</body>
</html>