<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    	<title>Examen - Nuevo intento</title>
        <script>window.devicePixelRatio = 2.0;</script>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"/>
        <link rel="stylesheet" type="text/css" href="/css/quiz/topBar.css">
        <link rel="stylesheet" type="text/css" href="/css/quiz/moverPantalla.css">
        <link rel="stylesheet" type="text/css" href="/css/quiz/quiz.css">
    </head>
    <body>
        <div class="mainContainer" data-id="<%- quizz._id %>" data-alumno="<%- idAlumno %>">
            <%- include("../template/topBar") %> 
            <div class="manchaFondo"></div>
            <div class="containerQuiz"></div>
            <div class="arrowQuiz prevQuiz">
                <div class="imgArrow"></div>
            </div>
            <div class="arrowQuiz nextQuiz">
                <div class="imgArrow"></div>
            </div>
        </div>
        <script>
            
        </script>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/pep.js"></script>
        <script type="text/javascript" src="/js/jquery.redirect.js"></script>
        <script type="text/javascript" src="/js/quiz/quiz.js"></script>
        <script type="text/javascript" src="/js/quiz/cronometro.js"></script>
        <script type="text/javascript" src="/js/quiz/moverPantalla.js"></script>
        <script type="text/javascript" src="/js/quiz/calificar.js"></script>
    </body>
</html>