<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <style>
        .version{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
<h1>Index del proyecto</h1>
<form action="/" method="post">
    <input type="text" name="correo"  placeholder="Correo"id=""><br>
    <input type="text" name="telefono" placeholder="Telefono" id=""><br>
    <input type="submit" value="Ingresar">
</form>
<div class="version">V2.0.1</div>
</body>
</html>