<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="cache-control" content="no-cache" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/editoresCrear.css">
    <title>Crear Examen</title>
</head>
<body data-spy="scroll" data-target="#insercion" data-offset="50" >
    <div class="mallaExito" id="malla"></div>
    <!-- Page Content -->
    <div class="w3-light-gray w3-nav-bar">
        <h4 class="display w3-bar-item d-inline-block" onclick="">QuizApp</h4>
        <p class="display w3-bar-item d-inline-block" onclick="">Help</p>
        <p class="display w3-bar-item d-inline-block" onclick="">FAQ</p>
    </div>
    <br>
    <div class="row justify-content-center mt-5 pt-5">
        <header class="text-center mb-5">
            <h1>Crea un nuevo exámen</h1>
        </header>
    </div>
    <form action="/editores/crear" id="formularioQuizz" method="POST" enctype="multipart/form-data" align="center">
        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-lg-7">
                <select id="nivel" class="form-select form-select-lg mb-3 select nivel-0" aria-label=".form-select-lg example" name="nivel" required>
                    <option selected>Nivel</option>
                </select>
            </div>
            <div class="col-lg-7">
                <select id="grados" class="form-select form-select-lg mb-3 select nivel-1" aria-label=".form-select-sm example" name="grado"  required>
                <option selected>Grado</option>
                
                </select>
                
            </div>
            <div class="col-lg-7">
                <select id="materias" class="form-select form-select-lg mb-3 select nivel-2" aria-label=".form-select-lg example" name="claveMateria" required>
                    <option selected>Materia</option>
                </select>
            </div>
            <div class="col-lg-7">
                <select id="bloques" class="form-select form-select-lg mb-3 select nivel-3" aria-label=".form-select-lg example" name="bloques" required>
                    <option selected>Bloque</option>
                </select>
            </div>
            <div class="col-lg-7">
                <select id="secuencias" class="form-select form-select-lg mb-3 select nivel-4" aria-label=".form-select-lg example" name="Secuencias" required>
                <option selected>Secuencias</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="text-center">
            <p class="display-6">Nombre del Quizz:</p>
            <input type="hidden" name="grupo" value="Creado por Especialista">
            <input class="crearQ" type="text" placeholder="Coloca el nombre:" name="nombreQuizz" autocomplete="off">
        </div>
        <div class="text-center mt-3">
            <p class="display-6">Intentos Permitidos:</p>
            <input class="crearQ" type="number" id="intentos"  value="1" min="1"; name="intentos">
        </div>
        <!-- Inserto de nuevas preguntas-->
        <div id="insercion"></div>
    </form>
    <p class="retroError" id="mensaje">Hay campos sin llenar</p>
    <div class=" col-10 shadow  mb-5 bg-body rounded mensajeExito " id="msgE">
        <p class="encabezado"> Quizz creado con Éxito.</p>
        <p class="contenido"> La página será recargada en Breve</p>
    </div>

    <div class="boton3">
        <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para crear tu Quizz" delay="0" tabindex="0" class="d-inline-block">
            <button type="button" class="btn-flotante" onclick="crearQuizz()">Crear Quizz</button>
        </span>
    </div>

    <div class="container1 dropdown">
        <input type="checkbox dropbtn" id="toggle">
        <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para abrir y cerrar el menú de preguntas" delay="0" tabindex="0" class="d-inline-block" >
            <label for="toggle" class="button1"></label>
        </span>
        
        <nav class="dropdown-content">
            <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click para insertar Pregunta Abierta" delay="0" tabindex="0" class="d-inline-block" >
                <a onclick="preguntaAbierta(), sumahref(this.id)" id="ref" class="w3-bar-item w3-button btn"  >Insertar Pregunta Abierta</a>
            </sapn>
            <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para agregar pregunta relacional" delay="0" tabindex="0" class="d-inline-block" >
                <button  id="btn1" class="btn1 btn w3-bar-item w3-button" onclick="preguntaRelacional()"><a id="ref2" onclick="sumahref(this.id)" >Insertar Pregunta Relacional</a></button>
            </span>
            <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para crear una pregunta de opcion multiple" delay="0" tabindex="0" class="d-inline-block" >
                <a onclick="preguntaOM(), sumahref(this.id)" class="w3-bar-item w3-button btn" id="ref3">Insertar Pregunta Opción Múltiple</a></button>
            </span>
            <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para crear una pregunta de con imagen" delay="0" tabindex="0" class="d-inline-block" >
                <a onclick="preguntaIT(),sumahref(this.id)" id="ref4" class="btn w3-bar-item w3-button" >Insertar Pregunta-Imagen</a>
            </span>
            <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para creaa una pregunta de matematicas" delay="0" tabindex="0" class="d-inline-block" >
                <a onclick="preguntaMatematicas(), sumahref(this.id)" class="btn w3-bar-item w3-button" id="ref5" onclick="sumahref(this.id)" >Insertar Pregunta de Matemáticas</a>
            </span>
        </nav>
    </div>
    <script>
        var contadorhref=0;
        function sumahref(id){
            if (id==="ref") {
                var ref = document.getElementById("ref");
                contadorhref++;
                ref.setAttribute("href",'#preg'+contadorhref);
            }else if (id=="ref2") {
                var ref2 = document.getElementById("ref2");
                contadorhref++;
                ref2.setAttribute("href",'#preg'+contadorhref);
            }else if (id==="ref3") {
                var ref3 = document.getElementById("ref3");
                contadorhref++;
                ref3.setAttribute("href",'#preg'+contadorhref);
            }else if (id==="ref4"){
                var ref4 = document.getElementById("ref4");
                contadorhref++;
                ref4.setAttribute("href",'#preg'+contadorhref);
            }else if (id==="ref5"){
                var ref5 = document.getElementById("ref5");
                contadorhref++;
                ref5.setAttribute("href",'#preg'+contadorhref);
            }else if (id==="ref6"){
                var ref6 = document.getElementById("ref6");
                contadorhref++;
                ref6.setAttribute("href",'#preg'+contadorhref);
            }else{
                console.log("error de link")
            }
        }
        function desabilitado(){
            document.getElementById("btn1").disabled = true;
        }
        function habilitar(){
            document.getElementsById("btn1").disabled = false;
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/creadorQuizzes.js" type="text/javascript"></script>
    <!-- <script src="/js/quiz/crear.js" type="text/javascript"></script> -->
    <script src="/js/filtroSelects.js" type="text/javascript"></script>
</body>
</html>