<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="cache-control" content="no-cache" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/stylerd.css">
  <title>Hacer Examen</title>
</head>

<body style="background-color:#FFE8CD" >
  <div class="col ">
    <div class="figure" >
      <h6><%= materia %></h6>
      <p class="display-4 preview" style="margin: 0 auto; padding: 0;">Previsualización</p>
    </div>
    
    <div class="acomodado mb-5">
      <div class="row">
        <%if(!quizz.contestado){%>
          <div class="col"> <a href="/editores/:token/editar/<%= quizz._id %>" class="btn btn-primary btnModificar" >Modificar</a></div>
          <%}%>
        
        <div class="col mt-2"> <a href="/verify/token" class="btn btn-info btnAprobar" >Aprobar</a></div>
      </div>
    </div>
    
  </div>
  <div class="container text-center">
    <h1 class="display-4 mt-3">
      <%= quizz.nombreQuizz %>
    </h1>
  </div>
  <input type="hidden" autocomplete="off" name="tiempo" value="">
  <div class="container text-right mt-4">
    <div class="time">
      <div style="width: 500px; margin: 0 auto;">
        <h1 class="text-center mt-2">Tiempo:</h1>
        <p id="cronometro" class="temporizador"></p>
      </div>
    </div>
  </div>
  <form action="#" >
    <input type="hidden" name="quizz" autocomplete="off" value="<%= quizz._id %>">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <% var preguntaFinal=quizz.cuestionario.length-1 %>
        <% for(var c=0; c<quizz.cuestionario.length ; c++) {%>
          <% var i=c; %>
          <% var activo="" %>
          <% var final="" %>
            <% if (c==0){ %>
              <% activo="active" %>
                <%}%>
                <% if (c==preguntaFinal){ %>
                  <% final="pregunta-Final" %>
                    <%}%>
                  <% switch (quizz.cuestionario[i].tipo) { case "tipoT" : %>
                    <div class="carousel-item <%= activo %> <%= final %>">
                      <!--P Texto-->
                      <div class="d-flex justify-content-center ">
                        <div class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">

                          <div class="card-body border border-1 ">
                            <h4 class="display-6 text-light text-center fw-bold">
                              <%= quizz.cuestionario[i].instrucciones%>
                            </h4><br>
                            <h4 class="display-7 text-light">
                              <% <!--=quizz.cuestionario[i].pregunta -->%><%= quizz.cuestionario[i].pregunta %>
                            </h4><br>
                            <input type="text" autocomplete="off" class="form-control pb-3" placeholder="Respuesta" aria-label="Respuesta"
                              name="respuesta<%= i %>">
                            <input type="hidden" autocomplete="off" name="cuestionario<%= i %>" value="<%= quizz.cuestionario[i]._id %>">

                          </div>
                        </div>
                      </div>
                      <!--Termina P Texto-->
                    </div>
                    <% break; case "tipoOM" : %>
                      <div class="carousel-item <%= activo %>  <%= final %>">
                        <!--Pregunta OM-->
                        <% <!-- solo una respuesta posible-->
                          if (quizz.cuestionario[i].respuesta.length<=1) { %>
                            <div class="d-flex justify-content-center  ">
                              <div class="card shadow-lg p-3 my-3 bg-body rounded col-sm-10 col-lg-10">

                                <div class="card-body border border-1">
                                  <h4 class="display-6 text-light text-center fw-bold">
                                    <%= quizz.cuestionario[i].instrucciones%>
                                  </h4><br>
                                  <h4 align="center" class="text-light">
                                    <%= quizz.cuestionario[i].pregunta[0]%>
                                  </h4>
                                  <div class="container">
                                    <div class="row">

                                      <div class="col">
                                        <% for (var j=1; j<quizz.cuestionario[i].pregunta.length; j++) {%>

                                          <div class="form-check ml-5">
                                            <input class="form-check-input" autocomplete="off" style="margin-top: 8px; margin-left: -32px !important; width: 25px; height: 25px;" type="radio" name="respuesta<%= i %>"
                                              value=" <%= quizz.cuestionario[i].pregunta[j]%>" id="flexRadioDefault1">
                                            <label class="form-check-label text-light fs-4" for="pregunta">
                                              <%= quizz.cuestionario[i].pregunta[j]%>
                                            </label>
                                          </div>

                                          <% } %>
                                      </div>

                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>


                            <% } <!-- Multiples Respuestas-->
                              else { %>
                              <div class="d-flex justify-content-center  ">
                                <div class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">

                                  <div class="card-body border border-1">
                                    <h4 class="display-6 text-light text-center fw-bold">
                                      <%= quizz.cuestionario[i].instrucciones%>
                                    </h4><br>
                                    <h4 class="display-7 text-light text-center">
                                      <%= quizz.cuestionario[i].pregunta[0] %>
                                    </h4><br>
                                    <div class="container">
                                      <div class="row">



                                        <div class="col">

                                          <div class="text-light" id="items<%= i %>">
                                            <% for (var j=1; j<quizz.cuestionario[i].pregunta.length; j++) {%>
                                              <input autocomplete="off" class="form-check-input reactivo" type="checkbox"
                                                name="respuesta<%= i %>,<%= j %>"
                                                value="<%= quizz.cuestionario[i].pregunta[j] %>">
                                              <label for="pregunta">
                                                <%= quizz.cuestionario[i].pregunta[j] %>
                                              </label>
                                              <br>
                                              <% } %>
                                          </div>
                                          <input type="hidden" autocomplete="off" class="contadorItems" value="<%= i %>"
                                            name="contadorItems<%= i %>">
                                          <input type="hidden" autocomplete="off" name="respuesta<%= i %>" value="multiple">

                                        </div>

                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>




                              <% } %>


                                <input type="hidden" autocomplete="off" name="cuestionario<%= i %>"
                                  value="<%= quizz.cuestionario[i]._id %>">

                                <!--Termina Pregunta OM-->
                      </div>
                      <% break; case "tipoR" :%>
                        <div class="carousel-item <%= activo %>  <%= final %>">
                          <!--P Relacional-->
                          <div class="d-flex justify-content-center  ">
                            <div class="card shadow-lg p-3 my-3 bg-body rounded col-sm-10 col-lg-10">

                              <% var Irelacional=i %>
                                <div class="card-body border border-1">
                                  <h4 class="display-6 text-light text-center fw-bold">
                                    <%= quizz.cuestionario[i].instrucciones%>
                                  </h4><br>
                                  <div class="d-flex justify-content-center container">
                                    
                                        <div class="row" style="display: block;">
                                          <table class="tablaEjercicio text-light" id="items<%= i %>">
                                            <% for (var j=0; j<quizz.cuestionario[i].pregunta.length; j++) {%>
                                              <div class="col">
                                                <tr>
                                        
                                                  <td class="botonPregunta reactivo mx-3 mb-3 text-center" style="width: 100px;">
                                                    <button type="button" class="opcion fs-3">
                                                      <%= j+1%>
                                                    </button>
                                                  </td>
                                                  <td class=" mb-3" id="<%=i%>,<%=j%> text-center" style="width: 320px; ">
                                                    <%= quizz.cuestionario[i].pregunta[j]%>
                                                  </td>
                                                  <td class="botonRespuesta mx-3 text-center pl-3">
                                                    <button type="button" class="opcion fs-3"></button>
                                                  </td>
                                                  <td class="celdaRespuesta mx-3 ">
                                                    <div class="ml-3">
                                                      <input class="apartadoBD" autocomplete="off" type="hidden" name="r<%=i%>,<%=j%>">
                                                      <%= quizz.cuestionario[i].respuesta[j]%>
                                        
                                                    </div>
                                                  </td>
                                                </tr>
                                              </div>
                                        
                                              <% } %>
                                        
                                        
                                          </table>
                                          <input type="hidden" autocomplete="off" class="contadorItems" value="<%= i %>" name="contadorItems<%= i %>">
                                        </div>
                                  </div>
                                  <input type="hidden" autocomplete="off" name="cuestionario<%= i %>"
                                    value="<%= quizz.cuestionario[i]._id %>">
                                </div>
                            </div>
                          </div>
                          
                          <!--Termina P Relacional-->
                        </div>
                        <% break; case "tipoM" : %>
                          <div class="carousel-item <%= activo %>  <%= final %>">
                            <!--P Mate-->
                            <div class="d-flex justify-content-center ">
                              <div class="card shadow-lg p-3 my-3 bg-body text-center col-sm-10 col-lg-10">
                                <div class="card-body border border-1 border-rounded">
                                  <h4 class="display-6 text-light text-center fw-bold">
                                    <%= quizz.cuestionario[i].instrucciones%>
                                  </h4><br>
                                  <p class="display-6 text-dark">Resuleve la siguiente expresión</p>
                                  <div class="row justify-content-center" style="background-color:#FFE8CD; margin-top: 80px;">
                                    <p class="mate">
                                      <%= quizz.cuestionario[i].pregunta[0] %>
                                    </p>
                                    <input class="tipoMate" autocomplete="off" id="<%= i %>" type="hidden">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--Termina P Mate-->
                            <input type="hidden" autocomplete="off" name="cuestionario<%= i %>" value="<%= quizz.cuestionario[i]._id %>">
                          </div>
                          <% break; case "tipoIT" : %>
                            <div class="carousel-item <%= activo %>  <%= final %>">
                              <!--pregunta IT-->
                              <div class="d-flex justify-content-center">
                                <div class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">
                                  <div class="card-body border border-1">
                                    <h4 class="display-6 text-light text-center fw-bold">
                                      <%= quizz.cuestionario[i].instrucciones%>
                                    </h4><br>
                                    <div class="row">
                                      <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="text-center contenedorimg">
                                          <img src="/image/<%= quizz.cuestionario[i].pregunta[0] %>" class="card-img-top img-fluid" alt="Imagen del Quizz">
                                        </div>
                                      <div class="col-lg-12 col-sm-12 col-md-12 mt-5">
                                        <h4 class="display-7 text-light">
                                          <%= quizz.cuestionario[i].pregunta[1] %>
                                        </h4>
                                        <input type="text" autocomplete="off" class="form-control-lg  mb-5" placeholder="Respuesta"
                                          aria-label="Respuesta" name="respuesta<%= i %>">

                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <input type="hidden" autocomplete="off" name="cuestionario<%= i %>" value="<%= quizz.cuestionario[i]._id %>">
                              <!--Termina Pregunta IT-->

                            </div>
                            <% break; case "tipoAr" : %>
                              <div class="carousel-item <%= activo %>">
                                <!--P Texto-->
                                <div class="d-flex justify-content-center ">
                                  <div class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">

                                    <div class="card-body border border-1 ">
                                      <!---->
                                      <h4 class="display-6 text-light text-center fw-bold">
                                        <%= quizz.cuestionario[i].instrucciones%>
                                      </h4><br>
                                      <div class="contanier-fluid ml-0 tipoAr">

                                        <h4 class="text-center text-light">Coloca las palabras en el lugar correcto.</h4>
                                        <div class="row mt-3">
                                          <div class="col-lg-6 sm-12  text-center">
                                            <div class="col-lg-12 ">
                                              <!--Lienzo-->
                                              <div class="replica row mx-auto " id="<%= i %>">
                                                <% var iteracionLienzo=i%>
                                                  <div class="col-12">

                                                    <img id="<%= quizz.cuestionario[i].pregunta[0].coordenadas[0].id%>"
                                                      src="/image/<%= quizz.cuestionario[i].pregunta[0].nombre %>"
                                                      class="img-fluid img-replica">
                                                  </div>

                                              </div>
                                              <!--Lienzo-->
                                            </div>
                                          </div>

                                          <div class="col-lg-4 sm-12 text-center mt-5  contenedor-palabras">
                                            <div
                                              class="row bg-primary py-3 shadow p-3 mb-5 bg-body rounded-3 border border-dark">
                                              <div class="mt-2">
                                                <h3 class="text-light mb-3">Palabras:</h3>
                                                <div class="contenedor">
                                                  <%var respuestas=quizz.cuestionario[i].respuesta %>
                                                    <% respuestas.forEach (function (respuesta){ %>

                                                      <div id="<%= respuesta.id_respuesta %>"
                                                        class="text-light fw-bold text-center respuesta-reactivo elementoDrag">
                                                        <%= respuesta.contenido %>
                                                      </div>

                                                      <% }); %>

                                                </div>


                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!---->
                                    </div>
                                  </div>
                                </div>
                                <!--Termina P Texto-->
                              </div>
                              <% break } %>
                                <% } %>

      </div>
    </div>

  </form></br>
  <div class="container text-center mb-5">
    <div class="progress">
      <div id="bar" class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100" style="width: 0%">
        <span class="sr-only">0% Complete</span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-md.6 col-lg-6">
         <button type="submit" class="btn bt1" value="Enviar Respuestas"
      data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev" onclick="barraM()">Anterior</button>

      </div>
      <div class="col-6 col-md.6 col-lg-6">
         <button type="submit" class="btn bt1 Enviar" value="Enviar Respuestas"
      data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next" onclick="barra()">Siguiente</button>
    
      </div>
    </div>
    
  </div>
  


  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
  
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>
  <script src="/js/funcionesExamen.js" type="text/javascript"></script>
  <!--
  <script src="/js/simplyCountdown.min.js" type="text/javascript"></script>
  <script src="/js/temporizador.js"></script>
  --->
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <!--
  
  <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>-->
  
  <script type="text/javascript" src="/js/relacionarColumnasBoton.js"></script>
  <script src="/js/scriptsQuizz.js"></script>

  <!--Invalidadndo campos si no existe ninguna pregunta Drag-->

  <% if (iteracionLienzo!==undefined) { %>
    <script>
      var preguntasAr = document.getElementsByClassName("tipoAr");
      if (preguntasAr) {

        for (var r = 0; r < preguntasAr.length; r++) {
          var replica = preguntasAr[r].querySelectorAll("div.replica")[0];
          insertorReplica = replica.children[0]


          //Reacomodo de Imagen
          var idImagen = "<%-  quizz.cuestionario[iteracionLienzo].pregunta[0].coordenadas[0].id %>"
          var imagen = document.getElementById(idImagen);

          imagen.style.top = "<%-  quizz.cuestionario[iteracionLienzo].pregunta[0].coordenadas[0].top %>" + "px";
          imagen.style.left = "<%-  quizz.cuestionario[iteracionLienzo].pregunta[0].coordenadas[0].left %>" + "px";


          var reactivos =<% -JSON.stringify(quizz.cuestionario[iteracionLienzo].pregunta[1]) %>;//"<%-  JSON.stringify(quizz.cuestionario[iteracionLienzo].pregunta[1]) %>";
          var flechas =<% -JSON.stringify(quizz.cuestionario[iteracionLienzo].pregunta[2]) %>;

          for (x in reactivos) {
            var reactivo = document.createElement("DIV");
            reactivo.id = reactivos[x].id;
            reactivo.className = "reactivo reactivoDrag";
            reactivo.style.top = reactivos[x].top + "px";
            reactivo.style.left = reactivos[x].left + "px";
            insertorReplica.appendChild(reactivo);
          }

          for (y in flechas) {

            //Obtención de los Datos para ver que tipo de Flecha es
            var claveFlecha = flechas[y].id
            var tipoFlecha = claveFlecha.substr(0, 3);
            var imagenFlecha = document.createElement("IMG");
            switch (tipoFlecha) {
              case "fid":
                imagenFlecha.src = "/img/flecha.png";
                imagenFlecha.className = "flecha imagenes";
                imagenFlecha.style.top = flechas[y].top + "px";
                imagenFlecha.style.left = flechas[y].left + "px";
                break;
              case "fdi":
                imagenFlecha.src = "/img/flechaHoIz.png.png";
                imagenFlecha.className = "flecha imagenes";
                imagenFlecha.style.top = flechas[y].top + "px";
                imagenFlecha.style.left = flechas[y].left + "px";
                break;
              case "fsi":
                imagenFlecha.src = "/img/flechadigaiz.png";
                imagenFlecha.className = "flecha diagonal";
                imagenFlecha.style.top = flechas[y].top + "px";
                imagenFlecha.style.left = flechas[y].left + "px";
                break;
              case "fsd":
                imagenFlecha.src = "/img/flechadiaderecha.png";
                imagenFlecha.className = "flecha diagonal";
                imagenFlecha.style.top = flechas[y].top + "px";
                imagenFlecha.style.left = flechas[y].left + "px";
                break;
              case "fai":
                imagenFlecha.src = "/img/diagonalizinvertida.png";
                imagenFlecha.className = "flecha diagonal";
                imagenFlecha.style.top = flechas[y].top + "px";
                imagenFlecha.style.left = flechas[y].left + "px";
                break;
              case "fad":
                imagenFlecha.src = "/img/diagonalderinvertida.png";
                imagenFlecha.className = "flecha diagonal";
                imagenFlecha.style.top = flechas[y].top + "px";
                imagenFlecha.style.left = flechas[y].left + "px";
                break;

            }


            insertorReplica.appendChild(imagenFlecha);
          }


          arrastrable();
          activarReactivo();
        }


      }
    </script>
    <% } %>
    <script>
      var QuizzTotales ="<%- quizz.cuestionario.length %>";
      getTotal(QuizzTotales);

    </script>
    <script>
      var cookies=document.cookie;
      var session=window.sessionStorage;
      var local=window.localStorage;
      var formularios=document.forms;

      console.log("Galletas");
      console.log(cookies);
      console.log("Session");
      console.log(session);
      console.log("local")
      console.log(local);
      console.log(formularios);
      /* window.location.hash = "no-back-button";
        window.location.hash = "Again-No-back-button";//esta linea es necesaria para chrome
        window.onhashchange = function () { window.location.hash = "no-back-button"; } */
    </script>
    <script>
     /*  if (window.performance.navigation.type == 1) {
          if (confirm('Desea Actualizar ? ')) {
            location.href = "http://localhost:8443/alumnos/examen/5febb0a7e9f19b27bd271788";
          }
          else {
            alert('Correcto');
          }
        } */

        
    </script>
</body>

</html>