<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/estilosRelacionarColumnasBoton.css">
  
  <link rel="stylesheet" type="text/css" href="/css/stylerev.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Revision</title>
</head>

<body style="background-color: #c4d2e7;">
  <style>
    .card {
      border: none;
    
    }
  </style>
  <h1 class="text-center mt-5">Revisión de Respuestas</h1>
  <p class="display-7 text-primary ml-5"> Quizz: <b>
      <%= quizz.nombreQuizz %>
    </b></p>
  <div class="row">
    <div class="col cal">
      <h4>Calificacion:</h4>
      <h3><%= respuestaAlumnoElegida[0].calificacion.toFixed(2) %></h3>
    </div>

    <div class="col time">
      <h4>Tiempo:</h4>
      <h3><%= respuestaAlumnoElegida[0].tiempo %></h3>
    </div>
  </div>
   
  <% for(var i=0; i<quizz.cuestionario.length ; i++) {%>
    <% switch (quizz.cuestionario[i].tipo) { case "tipoT" : %>

      <div class="d-flex justify-content-center">
        <div class="card bg-success shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">

          <% if (respuestaAlumnoElegida[0].respuestas[i].revision[0]) { %>
            <div class="card-body  border border-1 fondor">
              <h4 class="display-7">
                <%= quizz.cuestionario[i].pregunta %>
              </h4><br>
              <p class="display-7 cor"> <b> Respuesta Correcta </b>
                <%= quizz.cuestionario[i].respuesta %>
              </p>

              <p class="display-7 text-success "> <b class="contestada bien">Tu Respuesta </b>
                <%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[0] %>
              </p>
              <% } else { %>
                <div class="card-body  border border-1 fondor">
                  <h4 class="display-7">
                    <%= quizz.cuestionario[i].pregunta %>
                  </h4><br>
                  <p class="cor"> <b>Respuesta </b>
                    <%= quizz.cuestionario[i].respuesta %>
                  </p>
                  <p class="text-danger"> <b class="contestada mal"> Tu Respuesta </b>
                    <%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[0] %>
                  </p>
                  <% } %>

                </div>
            </div>

        </div>

        <% break; case "tipoR" : %>


          <!--P Relacional-->

          <div class="d-flex justify-content-center">
            <div class="card bg-success shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">

              <div class="card-body border border-1 fondor">
                <h4 class="display-7"><%= quizz.cuestionario[i].instrucciones%></h4><br>
                <div class="d-flex justify-content-center container fondor">
                  <div class="row fondor">
                    <table class="tablaEjercicio fondor">
                      <% for (var j=0; j<quizz.cuestionario[i].pregunta.length; j++) {%>
                        <tr class="fondor">

                          <td class="botonPregunta reactivo fondor"><button class="opcion mr-3" type="button">
                              <%= j+1%>
                            </button></td>
                          <td id="<%=i%>,<%=j%>">
                            <%= quizz.cuestionario[i].pregunta[j]%>
                          </td>
                          <% if (respuestaAlumnoElegida [0].respuestas[i].revision[j] == "true"){ %>
                            <!--Solución Correcta-->
                            <td class="botonRespuesta mx-3 px-3 bien"><button class="ml-3 opcion">
                                <%=j+1%>
                              </button> </td>
                            <td class="celdaRespuesta mx-3">
                              <p class="d-inline text-success ml-5 ">Correcta:</p>
                              <p class="d-inline text-success">
                                <%= quizz.cuestionario[i].respuesta[j]%>
                              </p>
                            </td>

                            <%}else { %>
                              <!--Solución Incorrecta-->
                              <td class="botonRespuesta mx-3 px-3 mal"><button class="ml-3 opcion">
                                  <%=j+1%>
                                </button>
                                <p class="d-inline text-danger ml-5 fw-bold">
                                  <%= respuestaAlumnoElegida [0].respuestas[i].respuestaA[j] %>
                                </p>
                              </td>
                              <td class="celdaRespuesta mx-3">

                                <p class="d-inline text-danger cor ml-5 ">Correcta: <%= quizz.cuestionario[i].respuesta[j]
                                    %>
                                </p>
                              </td>

                              <% } %>
                        </tr>
                        <% } %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--P Relacional-->
          <% break; case "tipoOM" : %>
          <%if (quizz.cuestionario[i].respuesta.length<=1) { %><!-- Solo una respuesta -->
            
          <%}%><!-- Solo una respuesta -->
            <%if (quizz.cuestionario[i].respuesta.length<=1) { %><!-- Solo una respuesta -->
                <% if((!(respuestaAlumnoElegida[0].respuestas[i].revision[0])) && ((respuestaAlumnoElegida[0].respuestas[i].respuestaA[0])==0)) { %> <!-- Si es correcta y es 0 -->
                    <div class="d-flex justify-content-center">
                        <div class="card bg-success shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">
                            <div class="card-body  border border-1 fondor">
                                <h4 class="display-7"><%= quizz.cuestionario[i].pregunta[0] %></h4><br>
                                <div class="container">
                                <div class="row">
                                <% for (var k=1; k<quizz.cuestionario[i].pregunta.length; k++) {%>
                                    <% if (quizz.cuestionario[i].pregunta[k] == quizz.cuestionario[i].respuesta[0]){ %> <!-- Sila pregunta es  correcta -->
                                        <div class="form-check">
                                            <p class="display-7 text-danger text-center"><b class="mal mr-3"></b>No contestaste</p>
                                            <input class="form-check-input" type="radio" name="respuesta<%= i %>" value=" <%= quizz.cuestionario[i].pregunta[j]%>" id="flexRadioDefault1" checked="checked">
                                            <label class="form-check-label  text-success" for="pregunta">
                                                <%= quizz.cuestionario[i].pregunta[k]%>
                                            </label>
                                        </div>
                                    <%}else { %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="respuesta<%= i %>" value=" <%= quizz.cuestionario[i].pregunta[j]%>" id="flexRadioDefault1">
                                        <label class="form-check-label " for="pregunta"> <%= quizz.cuestionario[i].pregunta[k]%> Pregunta</label>
                                    </div>
                                <% } %>
                                    <% } %>
                                      <%}else { %>
                                        <% if (respuestaAlumnoElegida [0].respuestas[i].revision[0] == "true"){ %>
                                          <!--Respuesta alumno Correcta-->

                                          <div class="d-flex justify-content-center">
                                            <div
                                              class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10 bg-success">

                                              <div class="card-body border border-1 fondor">
                                                <h4 class="display-7">
                                                  <%= quizz.cuestionario[i].pregunta[0] %>
                                                </h4><br>
                                                <div class="container">
                                                  <div class="row">
                                                    <% for (var k=1; k<quizz.cuestionario[i].pregunta.length; k++) {%>
                                                      <% if (respuestaAlumnoElegida[0].respuestas[i].respuestaA[0]==quizz.cuestionario[i].pregunta[k]){
                                                        %>
                                                        <div class="form-check">
                                                          <p class="display-7 text-success"><b
                                                              class="bien pr-3"></b>¡Correcto!</p>
                                                          <input class="form-check-input" type="radio"
                                                            id="flexRadioDefault1" checked="checked">
                                                          <label class="form-check-label  text-success" for="pregunta">
                                                            <%= quizz.cuestionario[i].pregunta[k]%>
                                                          </label>
                                                        </div>

                                                        <%}else { %>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                              id="flexRadioDefault1">
                                                            <label class="form-check-label " for="pregunta">
                                                              <%= quizz.cuestionario[i].pregunta[k]%>
                                                            </label>
                                                          </div>
                                                          <% } %>


                                                            <% } %>


                                                              <%}else { %>
                                                                <!--Respuesta alumno Incorrecta-->
                                                                <div class="d-flex justify-content-center">
                                                                  <div
                                                                    class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10 bg-success">

                                                                    <div class="card-body border border-1 fondor">
                                                                      <h4 class="display-7 mal">
                                                                        <%= quizz.cuestionario[i].pregunta[0] %>
                                                                      </h4><br>
                                                                      <!-- <div class="mx-auto"> <p class="d-inline text-success">Correcta</p>  <p class="d-inline text-danger ml-5 ">Tu Respuesta</p></div>-->
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <% for (var k=1; k<quizz.cuestionario[i].pregunta.length; k++) {%>
                                                                            <!--Impresión de lo que contestó el alumno-->
                                                                            <%if (respuestaAlumnoElegida[0].respuestas[i].respuestaA[0]==quizz.cuestionario[i].pregunta[k]){ %>
                                                                              <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                  type="radio" id="flexRadioDefault1"
                                                                                  checked="checked">
                                                                                <label
                                                                                  class="form-check-label  text-danger"
                                                                                  for="pregunta">
                                                                                  <%=
                                                                                    quizz.cuestionario[i].pregunta[k]%>
                                                                                </label>
                                                                              </div>
                                                                              <!--Retroalimentación de la respuesta correcta-->
                                                                              <% } else if
                                                                                (quizz.cuestionario[i].pregunta[k]==quizz.cuestionario[i].respuesta[0])
                                                                                { %>
                                                                                <div class="form-check">

                                                                                  <input class="form-check-input"
                                                                                    type="radio" id="flexRadioDefault1">
                                                                                  <label
                                                                                    class="form-check-label  text-success"
                                                                                    for="pregunta">
                                                                                    <%=
                                                                                      quizz.cuestionario[i].pregunta[k]%>
                                                                                  </label>
                                                                                </div>
                                                                                <!--Item normal-->
                                                                                <% } else { %>
                                                                                  <div class="form-check">
                                                                                    <input class="form-check-input"
                                                                                      type="radio"
                                                                                      name="respuesta<%= i %>"
                                                                                      value=" <%= quizz.cuestionario[i].pregunta[j]%>"
                                                                                      id="flexRadioDefault1">
                                                                                    <label class="form-check-label "
                                                                                      for="pregunta">
                                                                                      <%=
                                                                                        quizz.cuestionario[i].pregunta[k]%>
                                                                                    </label>
                                                                                  </div>
                                                                                        <% } %>
                                                                                    <% } %>
                                                                                <% } %>
                                                                            <% } %>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <% } <!-- Multiples Respuestas-->
                                                                  else { %>
                                                                  <!--Empieza Revisión OMM-->
                                                                  <div class="d-flex justify-content-center">
                                                                    <div
                                                                      class="card shadow-lg p-3 my-3 bg-body rounded col-sm-10 col-lg-10 bg-success">

                                                                      <div class="card-body border border-1 fondor">
                                                                        <h4
                                                                          class="display-7 contestada mb-0 pb-0 text-center">
                                                                          <%= quizz.cuestionario[i].pregunta[0] %>
                                                                        </h4><br>
                                                                        <div class="container">
                                                                          <!--Si el alumno no ha contestado nada-->
                                                                          <% var resultado=respuestaAlumnoElegida[0].respuestas[0].respuestaA[0]%>
                                                                          <% if(resultado==0){%>
                                                                            <div class="justify-content-center text-danger mal mt-0 pt-0">
                                                                              No has contestado nada para esta pregunta
                                                                            </div>
                                                                            <%}%>
                                                                            <!--Comienzan las revisiones por lo que envió el alumno-->
                                                                            <% var llaveRA=0 %>
                                                                            <div class="row ">
                                                                              <div class="col  justify-content-start">
                                                                                  <% for (var j=1; j<quizz.cuestionario[i].pregunta.length; j++) {%>
                                                                                    <%if(j==respuestaAlumnoElegida[0].respuestas[i].respuestaA[llaveRA]){%> 
                                                                                        <!--Condicionales de Respuestas del Alumno-->
                                                                                        <%if(respuestaAlumnoElegida[0].respuestas[i].revision[llaveRA]){%> 
                                                                                          <!--Respuesta Correcta-->
                                                                                          <input class="form-check-input " type="checkbox"  id="flexRadioDefault1"
                                                                                          checked="checked">
                                                                                          <label class="form-check-label" for="pregunta">
                                                                                            <p class="ml-2  bien text-success"><%= quizz.cuestionario[i].pregunta[j] %></p>
                                                                                          </label><br>
                                                                                            <%}
                                                                                            else{%>
                                                                                          <!--Respuesta Incorrecta-->
                                                                                          <input class="form-check-input" type="checkbox" checked="checked">
                                                                                        <label class="form-check-label" for="pregunta">
                                                                                          <p class="ml-2 mal text-danger"><%= quizz.cuestionario[i].pregunta[j] %></p> 
                                                                                        </label><br>
                                                                                            <%}
                                                                                          %>
                                                                                          <!--Aumentamos la clave que mueve las respuestas del alumno-->
                                                                                    <% llaveRA=llaveRA+1; %>
                                                                                      <%}else{%>
                                                                                            <% var respuestaNeutra=true %>
                                                                                                    <% for(var k=0;k<=(quizz.cuestionario[i].respuesta.length-1);k++){%>
                                                                                                      <!--Respuesta Correcta vacía-->
                                                                                                          <% if(quizz.cuestionario[i].respuesta[k]==quizz.cuestionario[i].pregunta[j]){%>
                                                                                                            <input class="form-check-input " type="checkbox"  id="flexRadioDefault1" >
                                                                                                            <label class="form-check-label" for="pregunta">
                                                                                                              <p class="ml-2 text-success"><%= quizz.cuestionario[i].pregunta[j] %></p>
                                                                                                            </label><br>
                                                                                                            <% var respuestaNeutra=false%>
                                                                                                            <% break %>
                                                                                                              <%}%>
                                                                                                                <%}%>
                                                                                                                  <%
                                                                                                                    if(respuestaNeutra){%>
                                                                                                                    <!--Respuestas vacías-->
                                                                                                                    <input
                                                                                                                      class="form-check-input"
                                                                                                                      type="checkbox"
                                                                                                                      id="flexRadioDefault1">
                                                                                                                    <label
                                                                                                                      class="form-check-label"
                                                                                                                      for="pregunta">
                                                                                                                      <p
                                                                                                                        class="ml-2 ">
                                                                                                                        <%=
                                                                                                                          quizz.cuestionario[i].pregunta[j]
                                                                                                                          %>
                                                                                                                      </p>
                                                                                                                    </label><br>
                                                                                                                    <%}%>
                                                                                                                      <%}
                                                                                                                        %>
                                                                                                                        <% }
                                                                                                                          %>
                                                                                    </div>
                                                                                  </div>
                                                                                  <!---->
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <!--Termina Múltiple Respuesta -->

                                                                  <% } %>

                                                  </div>
                                                  <% break; case "tipoR" : %>


                                                    <!--P Relacional-->
                                                    <div class="d-flex justify-content-center">
                                                      <div
                                                        class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">

                                                        <div class="card-body border border-1 fondor">
                                                          <h4 class="display-7">Relaciona los Items</h4><br>
                                                          <div class="d-flex justify-content-center container">
                                                            <div class="row">
                                                              <table class="tablaEjercicio">
                                                                <% for (var j=0;
                                                                  j<quizz.cuestionario[i].pregunta.length; j++) {%>
                                                                  <tr>

                                                                    <td class="botonPregunta reactivo"><button
                                                                        class="opcion mr-3" type="button">
                                                                        <%= j+1%>
                                                                      </button></td>
                                                                    <td id="<%=i%>,<%=j%>">
                                                                      <%= quizz.cuestionario[i].pregunta[j]%>
                                                                    </td>

                                                                    <% if (respuestaAlumnoElegida
                                                                      [0].respuestas[0].revision[j]){ %>
                                                                      <!--Solución Correcta-->
                                                                      <td
                                                                        class="botonRespuesta mx-3 px-3 contestada bien">
                                                                        <button class="ml-3 opcion">
                                                                          <%=j+1%>
                                                                        </button>
                                                                      </td>
                                                                      <td class="celdaRespuesta mx-3">
                                                                        <p class="d-inline text-success">
                                                                          <%= quizz.cuestionario[i].respuesta[j]%>
                                                                        </p>
                                                                        <p class="d-inline text-success ml-5 ">
                                                                          ¡Correcto!</p>
                                                                      </td>

                                                                      <%}else { %>
                                                                        <!--Solución Incorrecta-->
                                                                        <td
                                                                          class="botonRespuesta mx-3 px-3 contestada mal">
                                                                          <button class="ml-3 opcion">
                                                                            <%=j+1%>
                                                                          </button>
                                                                          <p class="d-inline text-danger ml-5 fw-bold">
                                                                            <%= respuestaAlumnoElegida
                                                                              [0].respuestas[0].respuestaA[j] %>
                                                                          </p>
                                                                        </td>
                                                                        <td class="celdaRespuesta mx-3">

                                                                          <p class="d-inline text-danger ml-5 ">
                                                                            Correcta: <%=
                                                                              quizz.cuestionario[i].respuesta[j] %>
                                                                          </p>
                                                                        </td>

                                                                        <% } %>
                                                                  </tr>
                                                                  <% } %>
                                                              </table>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <!--P Relacional-->
                                                    <% break; case "tipoIT" : %>
                                                              <% if
                                                                (respuestaAlumnoElegida[0].respuestas[i].revision[0]){
                                                                %>
                                                                <!--P Imagen-->
                                                                <div class="d-flex justify-content-center">
                                                                  <div
                                                                    class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10 bg-success">
                                                                    <div class="card-body border border-1 fondor">
                                                                      <div class="row">
                                                                        <div class=" col-lg-12 col-md-12 col-sm-12">
                                                                          <div class="text-center contenedorimg">
                                                                            <img class="img-fluid" src="/image/<%= quizz.cuestionario[i].pregunta[0] %>" alt="imagen Quizz quizz-ebe">
                                                                          </div>
                                                                        
                                                                        </div>
                                                                        <div class=" col-lg-12 col-md-12 col-sm-12">
                                                                          <h4 class="display-7">
                                                                            <%= quizz.cuestionario[i].pregunta[1] %>
                                                                          </h4><br>
                                                                          <p class=" text-center"><a
                                                                              class="contestada bien"></a><b
                                                                              class=" text-primary">
                                                                              <%=
                                                                                respuestaAlumnoElegida[0].respuestas[i].respuestaA[0]
                                                                                %>
                                                                            </b>

                                                                          </p>

                                                                        </div>
                                                                       
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <!--P Imagen-->
                                                                <%}else { %>
                                                                  <!--P Imagen-->
                                                                  <div class="d-flex justify-content-center">
                                                                    <div
                                                                      class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10 bg-success">
                                                                      <div class="card-body border border-1 fondor">
                                                                        <div class="row">
                                                                          <div class="col-lg-8 col-md-12 col-sm-12" style="float: none; margin: 0 auto;">
                                                                            <div class="text-center" style="margin: 0 auto !important;">
                                                                              <img class="img-fluid" src="/image/<%= quizz.cuestionario[i].pregunta[0] %>" alt="imagen Quizz quizz-ebe">
                                                                            </div>
                                                                          
                                                                          </div>
                                                                          <div class=" col-lg-12 col-md-12 col-sm-12">
                                                                            <h4 class="display-7">
                                                                              <%= quizz.cuestionario[i].pregunta[1] %>
                                                                            </h4><br>
                                                                            <p class=" text-center"><a
                                                                                class="mal mr-1"></a><b
                                                                                class="text-primary">
                                                                                <%=
                                                                                  respuestaAlumnoElegida[0].respuestas[i].respuestaA[0]
                                                                                  %>
                                                                              </b>

                                                                            </p>

                                                                          </div>
                                                                         
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <!--P Imagen-->
                                                                  <% } %>
                                                                    <% break; case "tipoM" : %>
                                                                    <% if (respuestaAlumnoElegida[0].respuestas[i].respuestaA[0]!="NaN"){%><!--El alumno Contestó algo-->
                                                                      <div class="d-flex justify-content-center ">
                                                                        <div class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10 bg-success">
                                                                          <% if (respuestaAlumnoElegida[0].respuestas[i].respuestaA[2]){ %> <!--Proceso con Fracciones-->
                                                                            <% if (respuestaAlumnoElegida[0].respuestas[i].revision[0]){ %>
                                                                              <!--Solución Correcta-->
                                                                              <div class="card-body border border-1 text-dark fondor">
                                                                                <p class="display-6 bien"  >Tu respuesta es correcta</p>
                                                                                <div class="row justify-content-center" style="background-color:lightblue">
                                                                                  <p class="mate bien" id="mate<%=i%>"><%= quizz.cuestionario[i].pregunta[0] %></p>
                                                                                  <p class="correcta respuestasM text-success" id="respuestaM<%=i%>"> 
                                                                                    <%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[1] %>_<%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[2] %>   </p>
                                                                                  
                                                                                    <%}else { %>
                                                                                    <!--Solución Incorrecta-->
                                                                                    <div class="card-body border border-1 text-dark fondor">
                                                                                      <p class="contestada display-6 mal text-dark" id="mate<%=i%>">Tu respuesta es incorrecta</p>
                                                                                    <div class="row justify-content-center" style="background-color:lightblue">
                                                                                    <p class="mate mal" id="mate<%=i%>"><%= quizz.cuestionario[i].pregunta[0]%></p>
                                                                                    <p class="incorrecta respuestasM text-danger" id="respuestasM<%=i%>">
                                                                                  <%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[1] %>_<%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[2] %>   </p>
                                                                                <% } %>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                          </div>
                                                                          <% }else { %>

                                                                            <% if (respuestaAlumnoElegida[0].respuestas[i].revision[0]){ %> <!--Proceso con Enteros-->
                                                                              <!--Solución correcta Enteros-->
                                                                            <div class="card-body border border-1 text-dark fondor">
                                                                              <p class=" bien display-6" id="mate<%=i%>" >Tu respuesta es correcta</p>
                                                                              <div class="row justify-content-center" style=" display:flex; background-color:lightblue">
                                                                                <div class="col-3 "> <p  class="display-6" id="mate<%=i%>"><%= quizz.cuestionario[i].pregunta[0] %> =</p></div>
                                                                                <div class="col-1 "><p class=" display-6 respuestaEntera text-success" id="respuestaM<%=i%>" style="width: 100px; margin-left: -60px;">  <%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[0] %>  </p></div>
                                                                                
                                                                                  <%}else { %>
                                                                                  <!--Solución Incorrecta Enteros-->
                                                                                  <div class="card-body border border-1 text-dark fondor">
                                                                                    <p class=" display-6 mal" id="mate<%=i%>">Tu respuesta es incorrecta</p>
                                                                                <div class="row justify-content-center" style="display: flex; background-color:lightblue">
                                                                                  
                                                                                  <div class="col-3 "> <p  class="display-6" id="mate<%=i%>"><%= quizz.cuestionario[i].pregunta[0]%> =</p></div>
                                                                                  <div class="col-1 "><p class=" display-6 respuestaEntera text-danger" style="width: 100px; margin-left: -60px;"><%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[0] %>  </p></div>
                                                                                 <% } %>
                                                                                </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          
                                                                          
                                                                            <%}%>
                                                                            <%}<!--Termina respuesta que contestó-->
                                                                            else{%>
                                                                                  <!--El alumno no contestó nada-->
                                                                                  <div class="d-flex justify-content-center ">
                                                                                    <div class="card shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10 bg-success">
                                                                                      <div class="card-body border border-1 text-dark fondor">
                                                                                        <p class="display-6 mal">
                                                                                          No has contestado nada
                                                                                        </p> 
                                                                                        <br>
                                                                                        <div class="row justify-content-center" style="background-color:lightblue">
                                                                                       
                                                                                            <p class="mate"><%= quizz.cuestionario[i].pregunta[0]%></p>
                                                                                            <p class="respuestasM"> <%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[0] %></p>
                                                                              
                                                                                        <!--FIn-->
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                    <!--FIn-->
                                                                                    <%}
                                                                                    %>                                                                      
    <% break;case 'tipoAP': %>
        <div class="d-flex justify-content-center">
            <div class="card bg-success shadow-lg p-3 my-3 bg-body rounded text-center col-sm-10 col-lg-10">
                <div class="card-body border border-1 fondor">
                    <% for (var j=0;j<quizz.cuestionario[i].pregunta.length; j++) {%>
                        <h4 class="display-7"><%= quizz.cuestionario[i].pregunta[j] %></h4>
                        <div class="d-flex justify-content-center container fondor">
                            <div class="row fondor">
                                <div class="form-check">
                                    <% for (var k=0; k<quizz.cuestionario[i].respuesta[j].correctas.length; k++) {%>
                                        <% if (respuestaAlumnoElegida[0].respuestas[i].revision[j][k] == "true"){%>
                                            <p class="display-7 text-success">
                                                <b class="bien pr-3"></b>
                                                Alumno: <%= quizz.cuestionario[i].respuesta[j].correctas[k][0].resp %><br>
                                            </p>
                                        <% } else{%>
                                            <p class="display-7">
                                                <b class="mal pr-3"></b>Alumno: <%= respuestaAlumnoElegida[0].respuestas[i].respuestaA[j][k] %><br>
                                                Correcta: <%= quizz.cuestionario[i].respuesta[j].correctas[k][0].resp %><br>
                                            </p>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    <% break;} %>
        <% } %>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
          <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
          <script>
            

            matematicas();
           function matematicas(){
            var preguntasMate=document.getElementsByClassName("mate");
            var respuestasMate=document.getElementsByClassName("respuestasM")
            var strVar="";
          
            console.log(respuestasMate);
             //Busqueda de los espacios para poner preguntas de matemáticas
           for(i=0;i<preguntasMate.length;i++){
                 var pregunta=preguntasMate[i].textContent;
                 var respuesta=respuestasMate[i].textContent;
                 var respuestaHTML=respuestasMate[i];
                 //variable para rellenar los inputs y conocer si el resultado debe ser en fracciones o enteros
                 
               
                   //Eliminación de todos los espacios en blanco
                 pregunta=pregunta.replace(/\s+/g, '');
                 respuesta=respuesta.replace(/\s+/g, '');
                 
                 console.log(pregunta);
                  console.log(respuestaHTML);
                 //limipiamos la variable
                 strVar="";
                 //Proceso sin fracciones
                 if(pregunta.search("_")==-1){
                     //Conversión de la expresión a HTML
                     for(j=0;j<pregunta.length;j++){
                           var caracter=pregunta.slice(j,j+1);
                             if (Number.isInteger(parseInt(caracter))){
                                 strVar += "  <div class=\"col-1 py-3\"  >";
                                 strVar += "            <h1 class=\"text-center text-dark\">"+caracter+"<\/h1>";
                                 strVar += "          <\/div>";
                             }
                             else{
                                 strVar += "<div class=\"col-1 align-middle py-3\"  >";
                                 strVar += "            <h1 class=\"text-center text-dark \">"+caracter+"<\/h1> ";
                                 strVar += "          <\/div>";
                             }
                       }
                            if(respuesta=="NaN"){   //El alumno no ha contestado nada
                              strVar += "  <div class=\"col-1\"  >";
                                      strVar += "              <h1 class=\"text-center text-dark pt-4\">=<\/h1> ";
                                      strVar += "            <\/div>";
                                      strVar += "            <div class=\"col-1 pt-4 \"  >";
                                      strVar += "              <h1 class=\"text-center text-danger\">0<\/h1>";
                                      strVar += "            <\/div>";
                                      preguntasMate[i].parentElement.insertAdjacentHTML("beforeend",strVar);
                            }
                            else{
                              respuestaHTML=Number.parseFloat(respuesta);
                            }
                      
                       preguntasMate[i].parentElement.insertAdjacentHTML("beforeend",strVar);
                       
                    
                 }//if
                 else{//Proceso con Fracciones
                
                  for(j=0;j<pregunta.length;j++){
                          var caracter=pregunta.slice(j,j+1);
                          console.log("Iteración: "+j);
                          console.log("Caracter I: "+caracter)
                          if (Number.isInteger(parseInt(caracter))){
                              var posibleFraccion=fraccion(caracter,pregunta,j);
                              if(posibleFraccion.esFraccion){
                                  
                                  strVar += "   <div class=\"col-1\"  >";
                                  strVar += "              <h1 class=\"text-center text-dark\">"+posibleFraccion.numerador+"<\/h1>";
                                  strVar += "               <h1 class=\"border-top border-dark text-center text-center text-dark\">"+posibleFraccion.denominador+"<\/h1>";
                                  strVar += "            <\/div>";
               
                                 
                                  j=posibleFraccion.iteracion;
                              }
                              else{
                                  //Impresión de Numero Entero
                                  strVar += "  <div class=\"col-1 py-4\"  >";
                                  strVar += "            <h1 class=\"text-center text-dark\">"+caracter+"<\/h1>";
                                  strVar += "          <\/div>";
                                 
                              }
                             
                          
                          }
                             //Operandos
                             else{
                              if (!Number.isInteger(parseInt(caracter))){
                              strVar += " <div class=\"col-1 \"  >";
                              strVar += "   <h1 class=\"text-center text-dark pt-4\">"+caracter+"<\/h1> ";
                              strVar += " <\/div>";
                              }
                            }
          
                            
                   }
                   console.log(respuesta);
                   if(respuesta!="NaN"){
                          var particion = respuesta.split("_")
          
                          if ((respuestasMate[i].className.search("text-success"))!=-1) {
                                      console.log("La respuseta esta bien")
                                      
                                        strVar += "  <div class=\"col-1\"  >";
                                        strVar += "              <h1 class=\"text-center text-dark pt-4\">=<\/h1> ";
                                        strVar += "            <\/div>";
                                        strVar += "            <div class=\"col-1 \"  >";
                                        strVar += "              <h1 class=\"text-center text-success\">"+particion[0]+"<\/h1>";
                                        strVar += "               <h1 class=\"border-top border-dark text-center text-center text-success\">"+particion[1]+"<\/h1>";
                                        strVar += "            <\/div>";
                                        preguntasMate[i].parentElement.insertAdjacentHTML("beforeend",strVar);
                                    
                                  }else{
                                    console.log("La respuseta es incorrecta")
                                        strVar += "  <div class=\"col-1\"  >";
                                        strVar += "              <h1 class=\"text-center text-dark pt-4\">=<\/h1> ";
                                        strVar += "            <\/div>";
                                        strVar += "            <div class=\"col-1 \"  >";
                                        strVar += "              <h1 class=\"text-center text-danger\">"+particion[0]+"<\/h1>";
                                        strVar += "               <h1 class=\"border-top border-dark text-center text-center text-danger\">"+particion[1]+"<\/h1>";
                                        strVar += "            <\/div>";
                                        preguntasMate[i].parentElement.insertAdjacentHTML("beforeend",strVar);
                                  }
                        }
                      else{ //El alumno no contestó nada
                        strVar += "  <div class=\"col-1\"  >";
                                      strVar += "              <h1 class=\"text-center text-dark pt-4\">=<\/h1> ";
                                      strVar += "            <\/div>";
                                      strVar += "            <div class=\"col-1 pt-4 \"  >";
                                      strVar += "              <h1 class=\"text-center text-danger\">0<\/h1>";
                                      strVar += "            <\/div>";
                                      preguntasMate[i].parentElement.insertAdjacentHTML("beforeend",strVar);
                      }
                 }
             }//for preguntas
             //Proceso para Retroalimentación de Respuestas Enteras
             var respuestasE=document.getElementsByClassName("respuestaEntera");
          
              for(var r=0; r<respuestasE.length; r++){
                var cifra=Number.parseFloat(respuestasE[r].textContent);
                  respuestasE[r].textContent=cifra;
              }
                  
          
           //Removemos todos los <P> para que no sea confuso
            var destructor=preguntasMate.length;
            for(var i=0;i<destructor;i++){
            preguntasMate[0].remove();
            respuestasMate[0].remove();
          }
              
          
           }
          
           function fraccion(numero,expresion,iteracion){
              var resultado={
                numerador: 0,
                denominador:0,
                iteracion:0,
                esFraccion: false
              };
             
              var operando=expresion.slice(iteracion+1,iteracion+2);
            
              //Si el próximo espacio en el string es guion bajo convertimos a fracción
              if(operando=="_"){
                resultado.esFraccion=true;
                var denominador=expresion.slice(iteracion+2,iteracion+3);
                resultado.denominador=denominador;
                resultado.iteracion=iteracion+2;
                resultado.numerador=numero;
              }
              else{ //Devolvemos los mismos datos que nos fueron dados en caso negativo
               resultado.numerador=numero;
               resultado.iteracion=iteracion; 
              }
            
              
            
               return resultado
            }
          
          </script>
          <!-- <body onload="nobackbutton();">-->

          <!--
          <script type="text/javascript">
              history.pushState(null, null, location.href);
              history.back();
              history.forward();
              window.onpopstate = function () { history.go(1); };
          </script>
          -->

          <!--
          <script>
window.onpopstate = function(event) {
  console.log("location: " + document.location + ", state: " + JSON.stringify(event.state));
};
history.pushState({page: 1}, "title 1", "?page=1");
history.pushState({page: 2}, "title 2", "?page=2");
history.replaceState({page: 3}, "title 3", "?page=3");
history.back(); // Logs "location: http://example.com/example.html?page=1, state: {"page":1}"
history.back(); // Logs "location: http://example.com/example.html, state: null"
history.go(2);  // Logs "location: http://example.com/example.html?page=3, state: {"page":3}"
          </script>
          -->
</body>

</html>